# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ini

*.vcxproj

*.filters

*.user

*.log

*.tlog

*.deps

*.cache

*.pdb

*.idb

*.enc

*.html

*.png

*.css

*.js

*.tex

*.eps

*.sty

*.bat

latex/

*.zip

*.TMP

*.txt

*.aps

*.rc
